.DS_Store
node_modules
/build
/.svelte-kit
/.vercel
/package
.env
.env.*
!.env.example

# Ignore files for PNPM, NPM and YARN
pnpm-lock.yaml
package-lock.json
yarn.lock

# Ignore json file fetched by pre-push hook
src/data/repos.json

# Ignore fontawesome minified files
/static/fontawesome